/*
colors used:
dark blue: #343f58;
peacock green: #2b7e78;
orange #e1541f;
light green: #d9eec5;
light blue: #9bd0c8;
light peach: #fca989;
yellow: #ebc024;
dusty rose: #db686f;
bright pink: #d3384e;
*/

body {
    font-family: 'Trirong', serif;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.6;
    color: #343f58;
}

h1, h2, h3, h4 {
    font-family: 'Prompt', sans-serif;
    line-height: 1.4;
    font-weight: 100;
}

h1, h2 {color: #e1541f;}
h3, h4 {color: #2b7e78;}
h1 {font-size: 2.75em;}
h2 {font-size: 2.25em;}
h3 {font-size: 1.75em;}
h4 {font-size: 1.35em;}

img {width: 100%;}

a {
    color: #343f58;
    text-decoration: none;
}

a:visited {color: #2b7e78;}

a:hover, a:focus {
    color: #db686f;
    text-decoration: underline;
    font-style: italic;
}

a:active {color: #9bd0c8;}

.button {
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: #9bd0c8;
    font-family: Prompt, sans-serif;
    color: #ffffff; /* needed to override the default link color */
    font-weight: 400;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 7px #608681;
    transition: 0.2s opacity;
}
.button:hover {
    opacity: 0.8;
    text-decoration: none;
    font-style: normal;
    color: #ffffff;
}

.button:visited {color:#ffffff;}

.button:active {
    box-shadow: 0 5px #3d5f5b;
    transform: translateY(4px);
}

.button.contact {
    background-color: transparent;
    color: #e1541f;
    text-transform: uppercase;
    border: 2px solid #e1541f;
    box-shadow: unset;
}

.button.contact:hover {
    background-color: #e1541f;
    color: #ffffff;
    box-shadow: 0 5px 15px #7c361cad;
}

.button.contact:active {
    box-shadow: unset;
    transform: unset;
}

.button.resume {
    background-color: transparent;
    color: #d3384e;
    text-transform: uppercase;
    border: 2px solid #d3384e;
    box-shadow: unset;
}

.button.resume:hover {
    background-color: #d3384e;
    color: #ffffff;
    box-shadow: 0 5px 15px #812533af;
}

.button.resume:active {
    transform: unset;
    box-shadow: unset;
}