/*
colors used:
blue: #2b56a0;
dark blue: #130f3a;
peacock green: #2b7e78;
orange #e1541f;
light green: #d9eec5;
light blue: #9bd0c8;
light peach: #fca989;
yellow: #ebc024;
dusty rose: #db686f;
bright pink: #d3384e;
*/

* {box-sizing: border-box;} /* sets box model*/

html {
    scroll-behavior: smooth;
}

body { /* select body design */
    /*background-color: #fffefc;*/
    font-family: 'Prompt', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    color: #130f3a;
    background: rgba(255, 245, 243, 0.9);
    box-sizing: border-box;
}

header { /* set header and footer design */
    padding: 10px 0px;
    position: fixed;
    width: 100%;
    top: 0px;
    left:0;
    background-color:rgba(255, 245, 243, 0.9);
}

header.fitted_header { /* set header and footer design */
    padding: 10px 0px;
    position: fixed;
    width: 100%;
    top: 0px;
    left:0;
    background-color: #f9f6ffd6;
    border-left: 20px solid #FFFFFF;
    border-right: 20px solid #FFFFFF;
    border-top: 20px solid #FFFFFF;
}

#hero {
    padding: 20px 0px;
    display: inline-block;
    width: 100%;
    text-align: right;
}

#hero span {
    display: block;
    text-align: right;
}

main {
    padding-top: 64px;
}

#contact {
    color: #F98C98;
    text-align: center;
    padding: 10px 0;
    margin-top: 25px;
}

#fitted_contact {
    color: #A392D2;
    text-align: center;
    padding: 10px 0;
    margin-top: 25px;
}


h1 { /* set style for all headings */
    font-family: 'Antic Didone', serif;
    line-height: 1.4;
    color: #130f3a;
    margin: 0px;
}

h2{
    font-family: 'Prompt', serif;
    color: #F98C98;
    text-transform: uppercase;
}

h2.fitted_style{
    font-family: 'Prompt', serif;
    color: #A392D2;
    text-transform: uppercase;
}

/* set font sizes for all headings */
h1 {font-size: 2.5em; font-weight: normal;}
h2 {font-size: 1em; font-weight: bold;}

img {width: 100%; border-radius: 20px; box-shadow: 0px 10px 37px -13px rgba(0,0,0,0.75);} /* set all image width */

.no_boxshadow{
    box-shadow: none;
}

.no_flare{
    box-shadow: none;
    border-radius: 0px;
}
.grow {
    transition: all .7s ease-in-out;
}

.grow:hover {
    transform: scale(1.2);
}

.text_wrap{
    width: 100%;
    float: left;
    margin-right: 25px;
    margin-bottom: 25px;
    box-shadow: none;
}

.text_wrap_left{
    width: 100%;
    float: right;
    margin-left: 25px;
    margin-bottom: 25px;
    box-shadow: none;
}


.logo {max-width: 150px; box-shadow: none; border-radius: 0px;}     /* set width for logo */
a.logo:hover, a.logo:focus{ border-bottom: none;}


a.social_links { /* set link style */
    color: #F98C98;
    text-decoration: none;
    padding-right: 15px;
    padding-left: 15px;
    letter-spacing: 0.235px;
    border-bottom: transparent 3px;
}

a.social_links:hover, a.social_links:focus { /* set link style for hover and focus (on mobile) */
    color: #F98C98;
    padding-right: 15.235px;
    padding-left: 15.235px;
    font-weight: bold;
    border-bottom: #F98C98 3px solid;
    letter-spacing: 0;
}

.current_link {
    color: #F98C98;
    font-weight: bold;
    letter-spacing: 0;
}

a { /* set link style */
    color: #130f3a;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    letter-spacing: 0.235px;
}

a:hover, a:focus { /* set link style for hover and focus (on mobile) */
    color: #F98C98;
    font-weight: bold;
    border-bottom: #F98C98 3px solid;
    letter-spacing: 0;
}

a.fitted_style:hover, a.fitted_style:focus { /* set link style for hover and focus (on mobile) */
    color: #A392D2;
    font-weight: bold;
    border-bottom: #A392D2 3px solid;
    letter-spacing: 0;
}

a.fitted_social { /* set link style */
    color: #A392D2;
    text-decoration: none;
    padding: 0 15px;
    letter-spacing: 0.235px;
    border-bottom: transparent 3px;

}

a.fitted_social:hover, a.fitted_social:focus { /* set link style for hover and focus (on mobile) */
    color: #A392D2;
    font-weight: bold;
    padding: 0 15.235px;
    border-bottom: #A392D2 3px solid ;
    letter-spacing: 0;
}
/* project buttons */

.button_margin{
    margin-top: 30px;
}

.button{
    text-align: center;
    color: #F98C98;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0px;
}

.button:hover {
    border-bottom: #F98C98 solid 3px;
}

.center{
    text-align: center;
}



/* Layout styling */

.container { 
    padding: 0 15px; /* adds padding to all container classes */
}

.row { 
    margin: 25px 0; /* adds margin 25px top and bottom, 0 left and right */
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

#work .row {
    padding-top: 10px ;
    padding-bottom: 25px;
}


#hero h1, h2 {text-align: right;}

#about_header h1, #me h1 {text-align: center;}



/* styling the navigation bar */
nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navtoggle li:not(:last-child) {
    display: none;
}

.navtoggle, .navtoggle.responsive {
    position: relative;
}

.navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 1px;
    font-size: 20px;
    padding-right: 0;
    border-bottom: none;
    color: #130f3a;
}

.navtoggle.responsive nav {
    display: none;
    padding: 10px 0 0;
}

.navtoggle.responsive li{
    display: block;
    text-align: right;
    padding: 10px 0;
}

.navtoggle.responsive li:last-child {
    padding: 0 0 10px;
}


nav > ul > li > a {
    padding: 0 15px;
    text-transform: lowercase;
}


#overview .row {
    display: inline-block;
    width: 100%;
    margin: 0;

}

/* creating padding around sections in fitted */
.section {
    border-bottom: 3px solid #A392D2;
    padding-bottom: 50px;
    padding-top: 50px;
}

.space{
    margin-top: 35px;
    margin-bottom: 35px;
}

#retrospective{
    margin-bottom: 100px;
}



@media only screen and (max-width: 639px){
    .flex_me {
        display: flex;
        flex-direction: column-reverse;
    }

    .col-md-6{
        width: 100%;
    }

    .no_top_padding{
        padding-top: 0;
    }


}
/* adding in breakpoints for screen sizes */
/* medium devices (640px and larger) */
@media only screen and (min-width: 640px){
    body{
        border: 20px solid #FFFFFF;
    }
    
    header {
        text-align: unset;
        padding: 20px 0;
        border-left: 20px solid #FFFFFF;
        border-right: 20px solid #FFFFFF;
        border-top: 20px solid #FFFFFF;
    }

    nav {
        width: auto;
        float: right;
        margin-top: 4px;
    }

    nav > ul {
        margin: 1em 0;
    }

    nav > ul > li {display: inline-block;}

    .navtoggle li:not(:last-child) {
        display: inline-block;
    }

    .navtoggle li:last-child {
        display: none;
    }

    main {padding-top: 99px;}

    body {font-size: 16px;}

    .col-md-6 {width: 50%;}

    #work h3, #me h2, #me h4 {margin-top: 0;}

    .logo {max-width: 250px;}

    .text_wrap{
        width: 50%;
        float: left;
        margin-right: 30px;
        margin-bottom: 20px;
        box-shadow: none;
    }
    
    .text_wrap_left{
        width: 50%;
        float: right;
        margin-left: 30px;
        margin-bottom: 20px;
        box-shadow: none;
    }

    #work .row {
        padding-top: 50px ;
        padding-bottom: 25px;
    }

    .text_right{
        text-align: right;
    }
    
    .text_left{
        text-align: left;
    }
}

/* large devices (1024px and larger) */
@media only screen and (min-width: 1025px){
    .col-md-5 {width: 41.66%;}
    .col-md-7 {width: 58.33%;}

    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    body {font-size: 18px;}

    .top_margin{
        margin-top: 50px;
    }

    .mail_image{
        max-width: 450px;
    }

}

/* x-large devices (1440px and larger) */
@media only screen and (min-width: 1440px){
    
}

[class*="col-"]{
    float: left;
    padding: 10px;
}

.origami_desert {
    width: 100%; 
    max-width: 100%;
    height: auto;
}


@keyframes cloud-move-right {
    from {transform: translate(0,0px);}
    to {transform: translate(175px,0px);}
}

@keyframes cloud-move-left {
    from {transform: translate(0px,50px);}
    to {transform: translate(-200px, 50px);}
}

#cloud_left {animation: 25s cloud-move-right infinite alternate linear;}

#cloud_right {animation: 30s cloud-move-left infinite alternate linear;}

