/*
colors used:
blue: #2b56a0;
dark blue: #130f3a;
peacock green: #2b7e78;
orange #e1541f;
light green: #d9eec5;
light blue: #9bd0c8;
light peach: #fca989;
yellow: #ebc024;
dusty rose: #db686f;
bright pink: #d3384e;
*/

* {box-sizing: border-box;} /* sets box model*/

html {
    scroll-behavior: smooth;
}

body { /* select body design */
    background-color: #fffefc;
    font-family: 'Trirong', serif;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.6;
    color: #130f3a;;
}

header { /* set header and footer design */
    background-color: #ffdac7;
    padding: 10px 0 4px;
    box-shadow: 0 5px 15px #642f337c;
    position: fixed;
    width: 100%;
}

#hero {
    background-color: #ffdac7;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
    text-align: center;
}

#hero span {
    display: block;
}

main {
    padding-top: 64px;
}

#contact {
    background-color: #ffdac7;
    text-align: center;
    padding: 10px 0;
    margin-top: 25px;
}

h1, h2, h3, h4 { /* set style for all headings */
    font-family: 'Prompt', sans-serif;
    line-height: 1.4;
    color: #130f3a;;
}

/* set font sizes for all headings */
h1 {font-size: 2.5em; font-weight: 300;}
h2 {font-size: 2.25em; font-weight: 200;}
h3 {font-size: 1.75em; font-weight: 100;}
h4 {font-size: 1.35em; font-weight: 100;}

img {width: 100%;} /* set all image width */

.logo {max-width: 150px;} /* set width for logo */

.social_media_icon {
    height: 32px;
    width: 32px;
    margin: 5px;
    transition: all 1s;
    transform-origin: 50% 50%;
}

.social_media_icon:hover {
    transform: scale(1.2);
}

a { /* set link style */
    color: #343f58;
    text-decoration: none;
}

a:visited {color: #130f3a;} /* set link style after visited */

a:hover, a:focus { /* set link style for hover and focus (on mobile) */
    color: #2b56a0;
    font-style: italic;
}

a:active {color: #9bd0c8;} /* set link style when clicked */

/* project buttons */
.button .blob {display: none;}

.button:hover .blob {display: inline;}

.button:active .blob {display: none;}

.button:active .background {
    fill: #2B7E78;
    fill-opacity: 0.5;
}

/* email me button */
.button.contact .blob {display: none;}

.button.contact:hover .blob {display: inline;}

.button.contact:active .blob {display: none;}

.button.contact:active .background {
    fill: #E1541F;
    fill-opacity: 0.5;
}

/* resume button */
.button.resume .blob {display: none;}

.button.resume:hover .blob {display: inline;}

.button.resume:active .blob {display: none;}

.button.resume:active .background {
    fill: #DF5C6E;
    fill-opacity: 0.67;
}


/* Layout styling */

.container { 
    padding: 0 15px; /* adds padding to all container classes */
}

.row { 
    margin: 25px 0; /* adds margin 25px top and bottom, 0 left and right */
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

#work .row {
    border-bottom: 1px solid #d3384e;
    padding-bottom: 25px;
}

#hero h1 {text-align: center;}

#about_header h1, #me h2 {text-align: center;}

/* styling the navigation bar */
nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navtoggle li:not(:last-child) {
    display: none;
}

.navtoggle, .navtoggle.responsive {
    position: relative;
}

.navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 1px;
    font-size: 20px;
    padding-right: 0;
}

.navtoggle.responsive nav {
    padding: 10px 0 0;
}

.navtoggle.responsive li{
    display: block;
    text-align: right;
    padding: 10px 0;
}

.navtoggle.responsive li:last-child {
    padding: 0 0 10px;
}

nav > ul > li > a {
    padding: 0 15px;
    text-transform: lowercase;
}

#overview .row {
    display: inline-block;
    width: 100%;
    margin: 0;

}

/* creating padding around sections in fitted */
.section {
    border-bottom: 1px solid #d3384e;
    padding-bottom: 25px;
}

.section_picture_first {
    padding-top: 35px;
    border-bottom: 1px solid #d3384e;
    padding-bottom: 25px;
}

/* adding in breakpoints for screen sizes */
/* medium devices (640px and larger) */
@media only screen and (min-width: 640px){
    header {
        text-align: unset;
        padding: 20px 0 13px;
    }

    nav {
        width: auto;
        float: right;
        margin-top: 4px;
    }

    nav > ul {
        margin: 1em 0;
    }

    nav > ul > li {display: inline-block;}

    .navtoggle li:not(:last-child) {
        display: inline-block;
    }

    .navtoggle li:last-child {
        display: none;
    }

    main {padding-top: 99px;}

    body {font-size: 18px;}

    .col-md-6 {width: 50%;}

    #work h3, #me h2, #me h4 {margin-top: 0;}

    #work h1 {text-align: center;}

    .logo {max-width: 250px;}
}

/* large devices (1024px and larger) */
@media only screen and (min-width: 1024px){
    .col-md-5 {width: 41.66%;}
    .col-md-7 {width: 58.33%;}

    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* x-large devices (1440px and larger) */
@media only screen and (min-width: 1440px){
    
}

[class*="col-"]{
    float: left;
    padding: 10px;
}

.origami_desert {
    width: 100%; 
    max-width: 100%;
    height: auto;
}


@keyframes cloud-move-right {
    from {transform: translate(0,0px);}
    to {transform: translate(175px,0px);}
}

@keyframes cloud-move-left {
    from {transform: translate(0px,50px);}
    to {transform: translate(-200px, 50px);}
}

#cloud_left {animation: 25s cloud-move-right infinite alternate linear;}

#cloud_right {animation: 30s cloud-move-left infinite alternate linear;}

